//Override styles and variable values (global)

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet');

$seablue: #324ea8;
$babyblue: #3273a8;
$light-blue: #328ca8;
$dark-blue: #191b78;
$light: #f8f8f8;

//Update bootstrap global variables
$font-family-sans-serif: 'Montserrat', sans-serif;
$primary: $babyblue;

$link: $light-blue;

// Set custom global styles

html {
    background: linear-gradient(to right top, $seablue, $babyblue);
}

html, body {
    height: 100%;
    font-family: $font-family-sans-serif !important;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.button-width {
  width: 100% !important;
}
.center-all {
    text-align: center;
}
.center-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.modal-box {
    min-height: 200px;
    width: 100%;
    max-width: 580px;
    background: white;
    border-radius: 5px;
    padding: 35px;
}

.title {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.white-box {
    padding: 35px;
    background: white;
    border-radius: 5px;
    width: 350px;
    max-width: 350px; 
}

@media(max-width: 500px) {
    .reverse-columns {
      flex-direction: column-reverse;
      display: flex;
    }
  }

  .titled {
    font-size: 58px !important;
    font-weight: 400 !important;
    line-height: 64px !important;
  }

  .subtitled {
    font-size: 22px !important;
    font-weight: 400 !important;
    line-height: 36px !important;
  }
  
  .navbar-item img {
    max-height: 60% !important;
  }

  .navbar-item {
      color: $primary !important;
      font-size: 20px;
      font-weight: bold;
  }
  
  #join-button {
      background-color: $light-blue;
      color: white;
  }
  #join-button2 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: $light-blue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px $dark-blue;
  }
  
  #join-button2:hover {background-color: $seablue}
  
  #join-button2:active {
    background-color: $light-blue;
    box-shadow: 0 5px $dark-blue;
    transform: translateY(4px);
  }


  #light-blue {
      background-color: $primary;
  }
  