<div class="centered-content">
    <div class="task-manager-container">
  
      <div class="sidebar has-background-white">
        <h1 class="title has-text-primary">
          Filter
        </h1>
  
        <div class="list-menu">
          <a class="list-menu-item">
            <p>Filter 1</p>
          </a>
          <a class="list-menu-item">
            <p>Filter 2</p>
          </a>
          <a class="list-menu-item">
            <p>Filter 3</p>
          </a>
        </div>  
      </div>
  
      <div class="task-list-container has-background-light">
        <div>
          <div class="top-bar">
            <h1 class="title has-text-primary">
              Tasks
            </h1>
            <div class="dropdown is-hoverable is-right">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                  <span class="icon is-small">
                    <i class="fas fa-cog" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                  <a class="dropdown-item">
                    Edit
                  </a>
                  <a class="dropdown-item has-text-danger">
                    Delete
                  </a>
                </div>
              </div>
            </div>
          </div>
  
          <!-- Task Elements -->
          <div class="task">
            <div class="task-text">
              <p>Task Title</p>
            </div>
            <div class="task-buttons">
  
              <button class="button">
                <div class="icon">
                  <i class="fas fa-edit"></i>
                </div>
              </button>
  
              <button class="button is-danger" style="margin-left: 10px;">
                <div class="icon">
                  <i class="fas fa-trash"></i>
                </div>
              </button>
  
            </div>
          </div>
  
          <h3 class="empty-state-text">There are no tasks here! Click the add button to create
            a new task.</h3>
  
          <button class="circle-add-button button is-primary" routerLink="/new">
            <img src="../../../assets/plus-icon.svg" class="has-text-white">
          </button>
        </div>
  
        <div>
          <h3 class="empty-state-text">Please select a list from the sidebar</h3>
        </div>
  
      </div>
  
    </div>
  </div>